<h1>Listando Times</h1>

<table class="admin_teams">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Logotipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><i><%= team.id %></i></td>
    <td><%= team.name %></td>
    <td><img src="<%=asset_path(team.logotipo.to_s)%>"/></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div class="admin_teams_div">
  <%= link_to 'New Team', new_team_path %>
</div>

