<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Logotipo:</b>
  <img src="<%=asset_path(@team.logotipo.to_s)%>"/>
</p>

<div class="admin_teams_div">
	<%= link_to 'Edit', edit_team_path(@team) %> |
	<%= link_to 'Back', teams_path %> | 
	<%= link_to 'All Teams', teams_path %>
</div>