<%= form_for(@hint) do |f| %>
  <% if @hint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hint.errors.count, "error") %> prohibited this hint from being saved:</h2>

      <ul>
      <% @hint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :home_goals %><br />
    <%= f.number_field :home_goals %>
  </div>
  <div class="field">
    <%= f.label :away_goals %><br />
    <%= f.number_field :away_goals %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br />
    <%= f.number_field :game_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
