<h2>Seção de Administração</h2>
<h3>
	<div class="admin_teams_div">
		<ul>
			<li>
				<%= link_to 'Listar Participantes', users_path %>
			</li>
			<li>
				<%= link_to 'Listar Times', teams_path %>
			</li>
			<li>
				<%= link_to 'Listar Jogos', games_path %>
			</li>
			<li>
				<%= link_to 'Listar Confrontos', match_results_path %>
			</li>
			<li>
				<%= link_to 'Listar Palpites para Cálculo da Pontuação', admin_all_hints_path %>
			</li>
		</ul>
	</div>
</h3>
