<h1>Listing games</h1>

<table>
  <tr>    
    <th>ID</th>
    <th>Local</th>
    <th>Gamedate</th>
    <th>Gametime</th>
    <th>Computed</th>
    <th>Finished</th>
    <th>Closed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.id %></td>
    <td><%= game.local %></td>
    <td><%= game.gamedate %></td>
    <td><%= game.gametime %></td>
    <td><%= game.computed %></td>
    <td><%= game.finished %></td>
    <td><%= game.closed %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>

<style type="text/css">
  body {
    background-color: #CCC;
  }
</style>
