<!DOCTYPE html>
<html>
<head>
	<link href="/assets/ball16.png" rel="shortcut icon">
	<title>Bolão dos TOAs</title>
	<%= stylesheet_link_tag :application, :media => "all" %>
	<%= javascript_include_tag :application %>
	<%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<%= render "main/header"%>
	<div id="main">
		<div class="wrap">
      		<%= content_for?(:wrap) ? yield(:wrap) : yield %>
		</div>
	</div>
	<%= render "main/bottom"%>
</div>
</body>
</html>
