<h1>Listing match_results</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Team</th>
    <th>Goals</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @match_results.each do |match_result| %>
  <tr>
    <td><%= match_result.game_id %></td>
    <td><%= match_result.team_id %></td>
    <td><%= match_result.goals %></td>
    <td><%= link_to 'Show', match_result %></td>
    <td><%= link_to 'Edit', edit_match_result_path(match_result) %></td>
    <td><%= link_to 'Destroy', match_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match result', new_match_result_path %>

<style type="text/css">
  body {
    background-color: #CCC;
  }
</style>